# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Sublime Text files
*.sublime-project
*.sublime-workspace

# related files
data/

# not for Github
autoclick.*
egg.*
get-pip.py
rs3_*.*
soyca*